<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<script>
	var mymodule = angular.module("mymodule", []);
	    mymodule.controller("x", function ($scope){

	    	$scope.clickCounter = 0;
	    	$scope.check = function () {

	    		$scope.clickCounter++;
	    	}
	    });
</script>
</head>
<body ng-app="mymodule">
<div ng-controller="x">
    <input type="checkbox" ng-model="model" ng-change="check()" />
    <input type="checkbox" ng-model="model"/>
    <label>I'm working for second check box</label><br/>
      checkbox are checked = {{model}}<br/>
<div>{{clickCounter}}<div>
</div>
</body>
</html>