<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script>
		var mymodule = angular.module("mymodule", []);
		mymodule.controller("x", function($scope){

			$scope.templatePages = [
             { temp: 'firstPage', url: 'directive_switch.html'},
             { temp: 'secondPage', url: 'directive_show.html'}
			];
                $scope.tempPage = $scope.templatePages[0];
		});
	</script>
</head>
<body ng-app="mymodule">
 <div ng-controller="x">
     <select ng-model="tempPage" ng-options="p.temp for p in templatePages">
     	<option value="">(Empty)</option>
     </select>
     <div ng-include="tempPage.url">
     </div>
     </div>

</body>
</html>