<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script>
		var mymodule = angular.module("mymodule", []);
		mymodule.controller("x", function($scope){

		$scope.initialname = "Suraj";
		$scope.initialemail = "suraj@hostmud.com"; 
		$scope.age = "55";
		$scope.pattern= /^\d*$/;

			});
				</script>
</head>
<body ng-app="mymodule">
<div ng-controller="x">
         <form name="form1">
             <label>Name:</label>
             <input name="name" ng-model="initialname" required />
             <span style="color:red" ng-show="form1.name.$error.required">
               please provide your name
             </span>
             <br/>
             <label>Email:</label>
             <input name="email" ng-model="initialemail" required />
             <span style="color: red" ng-show="form1.email.$error.required">
             	please provide your email
             </span>
             <br/>
             <label>Age:</label>
             <input name="age" ng-model="age" ng-pattern="pattern" />
             <span style="color: red" ng-show="form1.age.$error.pattern">
             	Age must be positive
             </span>
             <br/>
             </form>
             </div>
</body>
</html>