<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
	<script>
		var mymodule = angular.module("mymodule", []);
		mymodule.controller("x", function($scope){
		$scope.div = ['div1','div2', 'div3'];
		$scope.selectedDiv = $scope.div[0];
		});
	</script>
</head>
<body ng-app="mymodule">
   <div ng-controller="x">
   <select ng-model="selectedDiv" ng-options="item for item in div">
   </select>
   You Selected = {{selectedDiv}}
   	<hr/>
   	<div ng-switch="selectedDiv">
   	<div style="border: 1px solid black" ng-switch-when="div1">
   	Hey this is my first div</div>
    <div style="border: 1px solid black" ng-switch-when="div2">
    Hey this is my second div</div>
    <div style="border: 1px solid black" ng-switch-when="div3">
    Hey this is my third div</div>
    </div>
    </div>


   </body>
</html>