<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
<body>
<script>
	var app = angular.module('myApp', []);
    app.controller("myController", function($scope) {
    	$scope.suraj = "hello World";
    });

</script>
<div ng-app="myApp" ng-controller="myController" >
<h1>{{suraj}}</h1>
</div>
</body>
</html>